:root {
  --text-color: #333;
  --heading-color: #000;
  --button-color: #34a4eb;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-family: "Redressed", cursive;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--heading-color);
  font-family: "Noto Serif Display", serif;
}

img {
  display: block;
  width: 100%;
  /* height: 100%; */
}

article {
  margin-bottom: 3rem;
}

article img {
  width: auto;
}

a {
  text-decoration: none;
  color: blue;
  transition: color 500ms ease;
}

main {
  /* align-self: center; */
  max-width: 45rem;
  margin: 0 auto;
  padding: 1rem;
}

aside {
  background-color: lightblue;
}

a:hover {
  color: darkgoldenrod;
}

picture img {
  width: 100%;
}

.button {
  display: inline-block;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none; /* This is so that the user cannot select the text in the button */

  transition: background-color 500ms ease;
}

.button:hover {
  color: #fff;
  background-color: var(--button-color);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 0.4rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 0.8rem;
  position: relative;
}

nav a::after {
  content: "";

  display: block;
  height: 3px;
  background-color: cyan;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;

  transform: scaleX(0);
  transition: transform 300ms;
  transform-origin: right;
}

nav a:hover::after {
  transform: scaleX(1);
  transition: transform 500ms;
  transform-origin: left;
}

.hero {
  position: relative;
}

.hero .overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.3);
}

.hero h1 {
  font-size: clamp(2.5rem, 7vw, 5rem);
  line-height: 1;
  color: #fff;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.hero p {
  color: #fff;
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: center;
  margin: 0;
}

.hero img {
  height: 100vh;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* padding: 0 1rem; */
  max-width: 45rem;
  align-self: center;
}

.cards a {
  cursor: pointer;
  display: block;
}

.card {
  position: relative;
  overflow: hidden;
}

.card img {
  aspect-ratio: 4 / 3;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms;
}

.card:hover img {
  transform: scale(1.1);
}

.card p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  color: #fff;
  background: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 0.7) 100%
  );
  padding: 0.5rem;
  margin: 0;
  z-index: 1;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;

  opacity: 0;
  transition: opacity 500ms ease;
}

.card:hover p {
  opacity: 1; /*  */
}

.loader {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  border: 16px solid rgba(124, 124, 124, 0.4);
  border-left: 16px solid #4eb2ff;
  animation: load 900ms infinite linear;
}

.panel {
  display: flex;
  flex-direction: column;

  border: 1px solid blue;
}

.panel .image-wrapper {
  order: -1;
}

@media (min-width: 600px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 40%;
  }
}

@media (min-width: 850px) {
  .cards {
    flex-wrap: nowrap;
  }
  .card p {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .panel {
    flex-direction: row;
    gap: 1rem;
  }
  .panel .text-content {
    flex: 1 1 60%;
  }
  .panel .image-wrapper {
    order: 0;
    flex: 1 1 40%;
  }
  .panel .left {
    order: -4;
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
